<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Relatório</title>
    </head>
    <body>
        <h1>Relatório</h1>
        <p>Nome: {{nome}}</p>
        <p>Email: {{email}}</p>
    </body>
</html>